@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

body {
    font-family: 'Bangers', cursive;
    background: #6bafff;
    color: #f5f4f3;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1 {
    font-size: 4em;
    text-align: center;
}